evaluationdata/*.json
evaluationdata/*.bin
evaluationdata/*.txt
evaluationdata/__pycache__/
evaluationdata/.ipynb_checkpoints/

sampledata/*.json
sampledata/*.bin
sampledata/*.txt
sampledata/__pycache__/
sampledata/.ipynb_checkpoints/

data/ipynb_checkpoints/

data/yoruba/ipynb_checkpoints/
data/yoruba/*.txt
data/yoruba/*.bin
data/yoruba/*.pkl

data/zulu/ipynb_checkpoints/
data/zulu/*.txt
data/zulu/*.bin
data/zulu/*.pkl

data/yoruba_10k/ipynb_checkpoints/
data/yoruba_10k/*.txt
data/yoruba_10k/*.bin
data/yoruba_10k/*.pkl

data/zulu_10k/ipynb_checkpoints/
data/zulu_10k/*.txt
data/zulu_10k/*.bin
data/zulu_10k/*.pkl

data/yoruba_prompted/ipynb_checkpoints/
data/yoruba_prompted/*.txt
data/yoruba_prompted/*.bin
data/yoruba_prompted/*.pkl

data/zulu_prompted/ipynb_checkpoints/
data/zulu_prompted/*.txt
data/zulu_prompted/*.bin
data/zulu_prompted/*.pkl